In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from tqdm import tqdm

In [3]:
os.getcwd()

'/workspaces/mlops-things/mlops-zc/w1'

In [3]:
# files = [('yellow_tripdata_2023-02.parquet', './data'), ('yellow_tripdata_2023-01.parquet', './data')]

# print("Download files:")
# for file, path in files:
#     url=f"https://d37ci6vzurychx.cloudfront.net/trip-data/{file}"
#     resp=requests.get(url, stream=True)
#     save_path=f"{path}/{file}"
#     with open(save_path, "wb") as handle:
#         for data in tqdm(resp.iter_content(),
#                         desc=f"{file}",
#                         postfix=f"save to {save_path}",
#                         total=int(resp.headers["Content-Length"])):
#             handle.write(data)

In [4]:
df_1 = pd.read_parquet('./data/yellow_tripdata_2023-01.parquet')
# df_2 = pd.read_parquet('./data/yellow_tripdata_2023-02.parquet')

In [5]:
df_1.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [6]:
df_1.shape

(3066766, 19)

In [2]:
from datetime import datetime

In [8]:
df_1.tpep_pickup_datetime = pd.to_datetime(df_1.tpep_pickup_datetime)
df_1.tpep_dropoff_datetime = pd.to_datetime(df_1.tpep_dropoff_datetime)

In [9]:
df_1['duration'] = (df_1['tpep_dropoff_datetime'] - df_1['tpep_pickup_datetime'])
df_1['duration'] = df_1['duration'].dt.total_seconds() / 60

In [10]:
df_1

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN,13.983333
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN,19.450000
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN,24.516667
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN,13.000000
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN,14.400000

In [11]:
df_1.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
count,3.066766e+06,3066766,3066766,2.995023e+06,3.066766e+06,2.995023e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,2.995023e+06,2.995023e+06,3.066766e+06
mean,1.730215e+00,2023-01-17 00:22:26.288164,2023-01-17 00:38:06.427874,1.362532e+00,3.847342e+00,1.497440e+00,1.663980e+02,1.643926e+02,1.194483e+00,1.836707e+01,1.537842e+00,4.882900e-01,3.367941e+00,5.184907e-01,9.820847e-01,2.702038e+01,2.274231e+00,1.074086e-01,1.566900e+01
min,1.000000e+00,2008-12-31 23:01:42,2009-01-01 14:29:11,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-9.000000e+02,-7.500000e+00,-5.000000e-01,-9.622000e+01,-6.500000e+01,-1.000000e+00,-7.510000e+02,-2.500000e+00,-1.250000e+00,-2.920000e+01
25%,1.000000e+00,2023-01-09 16:21:57.250000,2023-01-09 16:37:06,1.000000e+00,1.060000e+00,1.000000e+00,1.320000e+02,1.140000e+02,1.000000e+00,8.600000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,1.000000e+00,1.540000e+01,2.500000e+00,0.000000e+00,7.116667e+00
50%,2.000000e+00,2023-01-17 08:42:29.500000,2023-01-17 08:58:30.500000,1.000000e+00,1.800000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.280000e+01,1.000000e+00,5.000000e-01,2.720000e+00,0.000000e+00,1.000000e+00,2.016000e+01,2.500000e+00,0.000000e+00,1.151667e+01
75%,2.000000e+00,2023-01-24 16:26:27,2023-01-24 16:42:49,1.000000e+00,3.330000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,2.050000e+01,2.500000e+00,5.000000e-01,4.200000e+00,0.000000e+00,1.000000e+00,2.870000e+01,2.500000e+00,0.000000e+00,1.830000e+01
max,2.000000e+00,2023-02-01 00:56:53,2023-02-02 09:28:47,9.000000e+00,2.589281e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,1.160100e+03,1.250000e+01,5.316000e+01,3.808000e+02,1.969900e+02,1.000000e+00,1.169400e+03,2.500000e+00,1.250000e+00,1.002918e+04
std,4.438480e-01,NaN,NaN,8.961200e-01,2.495838e+02,6.474767e+00,6.424413e+01,6.994368e+01,5.294762e-01,1.780782e+01,1.789592e+00,1.034641e-01,3.826759e+00,2.017579e+00,1.833529e-01,2.216359e+01,7.718454e-01,3.556511e-01,4.259435e+01

In [12]:
df_1_60 = df_1[(df_1.duration >= 1) & (df_1.duration <= 60)]
df_1_60.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
count,3.009173e+06,3009173,3009173,2.938068e+06,3.009173e+06,2.938068e+06,3.009173e+06,3.009173e+06,3.009173e+06,3.009173e+06,3.009173e+06,3.009173e+06,3.009173e+06,3.009173e+06,3.009173e+06,3.009173e+06,2.938068e+06,2.938068e+06,3.009173e+06
mean,1.729855e+00,2023-01-17 00:34:19.090805,2023-01-17 00:48:31.382655,1.361619e+00,3.783685e+00,1.423694e+00,1.666243e+02,1.645131e+02,1.184650e+00,1.789434e+01,1.546403e+00,4.912155e-01,3.327611e+00,4.886258e-01,9.851232e-01,2.650305e+01,2.294732e+00,1.029695e-01,1.420486e+01
min,1.000000e+00,2022-10-25 00:42:10,2022-10-25 00:44:22,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-5.800000e+02,-7.500000e+00,-5.000000e-01,-9.622000e+01,-6.500000e+01,-1.000000e+00,-5.835000e+02,-2.500000e+00,-1.250000e+00,1.000000e+00
25%,1.000000e+00,2023-01-09 16:26:19,2023-01-09 16:40:24,1.000000e+00,1.090000e+00,1.000000e+00,1.320000e+02,1.140000e+02,1.000000e+00,8.600000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,1.000000e+00,1.545000e+01,2.500000e+00,0.000000e+00,7.216667e+00
50%,2.000000e+00,2023-01-17 08:45:30,2023-01-17 08:59:46,1.000000e+00,1.800000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.280000e+01,1.000000e+00,5.000000e-01,2.740000e+00,0.000000e+00,1.000000e+00,2.013000e+01,2.500000e+00,0.000000e+00,1.155000e+01
75%,2.000000e+00,2023-01-24 16:33:29,2023-01-24 16:48:53,1.000000e+00,3.300000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,1.980000e+01,2.500000e+00,5.000000e-01,4.140000e+00,0.000000e+00,1.000000e+00,2.830000e+01,2.500000e+00,0.000000e+00,1.818333e+01
max,2.000000e+00,2023-02-01 00:56:53,2023-02-01 01:06:43,8.000000e+00,2.589281e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,9.990000e+02,1.250000e+01,5.316000e+01,3.808000e+02,1.969900e+02,1.000000e+00,1.000000e+03,2.500000e+00,1.250000e+00,6.000000e+01
std,4.440346e-01,NaN,NaN,8.954235e-01,2.519560e+02,6.051629e+00,6.424609e+01,6.989129e+01,5.129361e-01,1.621241e+01,1.783131e+00,9.314787e-02,3.645204e+00,1.934030e+00,1.669544e-01,2.053547e+01,7.377791e-01,3.480707e-01,9.939386e+00

In [13]:
df_1_60.shape[0]/df_1.shape[0] *100

98.1220282212598

In [14]:
df_1.VendorID.unique()

array([2, 1])

In [15]:
categorical = ['PULocationID', 'DOLocationID']
numerical = ['trip_distance']

In [16]:
df_1_60[categorical] = df_1_60[categorical].astype(str)

/tmp/ipykernel_23638/511493597.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1_60[categorical] = df_1_60[categorical].astype(str)

In [17]:
df_1_60

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN,13.983333
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN,19.450000
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN,24.516667
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN,13.000000
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN,14.400000

In [18]:
from sklearn.feature_extraction import DictVectorizer

train_dicts = df_1_60[categorical + numerical].to_dict(orient='records')

In [19]:
dv = DictVectorizer()
X_train = dv.fit_transform(train_dicts)

In [20]:
X_train

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 9027519 stored elements and shape (3009173, 516)>

In [21]:
dv.get_feature_names_out()

array(['DOLocationID=1', 'DOLocationID=10', 'DOLocationID=100',
       'DOLocationID=101', 'DOLocationID=102', 'DOLocationID=106',
       'DOLocationID=107', 'DOLocationID=108', 'DOLocationID=109',
       'DOLocationID=11', 'DOLocationID=111', 'DOLocationID=112',
       'DOLocationID=113', 'DOLocationID=114', 'DOLocationID=115',
       'DOLocationID=116', 'DOLocationID=117', 'DOLocationID=118',
       'DOLocationID=119', 'DOLocationID=12', 'DOLocationID=120',
       'DOLocationID=121', 'DOLocationID=122', 'DOLocationID=123',
       'DOLocationID=124', 'DOLocationID=125', 'DOLocationID=126',
       'DOLocationID=127', 'DOLocationID=128', 'DOLocationID=129',
       'DOLocationID=13', 'DOLocationID=130', 'DOLocationID=131',
       'DOLocationID=132', 'DOLocationID=133', 'DOLocationID=134',
       'DOLocationID=135', 'DOLocationID=136', 'DOLocationID=137',
       'DOLocationID=138', 'DOLocationID=139', 'DOLocationID=14',
       'DOLocationID=140', 'DOLocationID=141', 'DOLocationID=142',
       'DOLocationID=143', 'DOLocationID=144', 'DOLocationID=145',
       'DOLocationID=146', 'DOLocationID=147', 'DOLocationID=148',
       'DOLocationID=149', 'DOLocationID=15', 'DOLocationID=150',
       'DOLocationID=151', 'DOLocationID=152', 'DOLocationID=153',
       'DOLocationID=154', 'DOLocationID=155', 'DOLocationID=156',
       'DOLocationID=157', 'DOLocationID=158', 'DOLocationID=159',
       'DOLocationID=16', 'DOLocationID=160', 'DOLocationID=161',
       'DOLocationID=162', 'DOLocationID=163', 'DOLocationID=164',
       'DOLocationID=165', 'DOLocationID=166', 'DOLocationID=167',
       'DOLocationID=168', 'DOLocationID=169', 'DOLocationID=17',
       'DOLocationID=170', 'DOLocationID=171', 'DOLocationID=172',
       'DOLocationID=173', 'DOLocationID=174', 'DOLocationID=175',
       'DOLocationID=176', 'DOLocationID=177', 'DOLocationID=178',
       'DOLocationID=179', 'DOLocationID=18', 'DOLocationID=180',
       'DOLocationID=181', 'DOLocationID=182', 'DOLocationID=183',
       'DOLocationID=184', 'DOLocationID=185', 'DOLocationID=186',
       'DOLocationID=187', 'DOLocationID=188', 'DOLocationID=189',
       'DOLocationID=19', 'DOLocationID=190', 'DOLocationID=191',
       'DOLocationID=192', 'DOLocationID=193', 'DOLocationID=194',
       'DOLocationID=195', 'DOLocationID=196', 'DOLocationID=197',
       'DOLocationID=198', 'DOLocationID=2', 'DOLocationID=20',
       'DOLocationID=200', 'DOLocationID=201', 'DOLocationID=202',
       'DOLocationID=203', 'DOLocationID=204', 'DOLocationID=205',
       'DOLocationID=206', 'DOLocationID=207', 'DOLocationID=208',
       'DOLocationID=209', 'DOLocationID=21', 'DOLocationID=210',
       'DOLocationID=211', 'DOLocationID=212', 'DOLocationID=213',
       'DOLocationID=214', 'DOLocationID=215', 'DOLocationID=216',
       'DOLocationID=217', 'DOLocationID=218', 'DOLocationID=219',
       'DOLocationID=22', 'DOLocationID=220', 'DOLocationID=221',
       'DOLocationID=222', 'DOLocationID=223', 'DOLocationID=224',
       'DOLocationID=225', 'DOLocationID=226', 'DOLocationID=227',
       'DOLocationID=228', 'DOLocationID=229', 'DOLocationID=23',
       'DOLocationID=230', 'DOLocationID=231', 'DOLocationID=232',
       'DOLocationID=233', 'DOLocationID=234', 'DOLocationID=235',
       'DOLocationID=236', 'DOLocationID=237', 'DOLocationID=238',
       'DOLocationID=239', 'DOLocationID=24', 'DOLocationID=240',
       'DOLocationID=241', 'DOLocationID=242', 'DOLocationID=243',
       'DOLocationID=244', 'DOLocationID=245', 'DOLocationID=246',
       'DOLocationID=247', 'DOLocationID=248', 'DOLocationID=249',
       'DOLocationID=25', 'DOLocationID=250', 'DOLocationID=251',
       'DOLocationID=252', 'DOLocationID=253', 'DOLocationID=254',
       'DOLocationID=255', 'DOLocationID=256', 'DOLocationID=257',
       'DOLocationID=258', 'DOLocationID=259', 'DOLocationID=26',
       'DOLocationID=260', 'DOLocationID=261', 'DOLocationID=262',
       'DOLocationID=263', 'DOLocationID=264', 'DOLocationID=265',
       'DOLocationID=27', 'DOLocationID=28', 'DOLocationID=29',
       'DOLocationID=3', 'DOLocationID=30', 'DOLocationID=31',
       'DOLocationID=32', 'DOLocationID=33', 'DOLocationID=34',
       'DOLocationID=35', 'DOLocationID=36', 'DOLocationID=37',
       'DOLocationID=38', 'DOLocationID=39', 'DOLocationID=4',
       'DOLocationID=40', 'DOLocationID=41', 'DOLocationID=42',
       'DOLocationID=43', 'DOLocationID=44', 'DOLocationID=45',
       'DOLocationID=46', 'DOLocationID=47', 'DOLocationID=48',
       'DOLocationID=49', 'DOLocationID=5', 'DOLocationID=50',
       'DOLocationID=51', 'DOLocationID=52', 'DOLocationID=53',
       'DOLocationID=54', 'DOLocationID=55', 'DOLocationID=56',
       'DOLocationID=57', 'DOLocationID=58', 'DOLocationID=59',
       'DOLocationID=6', 'DOLocationID=60', 'DOLocationID=61',
       'DOLocationID=62', 'DOLocationID=63', 'DOLocationID=64',
       'DOLocationID=65', 'DOLocationID=66', 'DOLocationID=67',
       'DOLocationID=68', 'DOLocationID=69', 'DOLocationID=7',
       'DOLocationID=70', 'DOLocationID=71', 'DOLocationID=72',
       'DOLocationID=73', 'DOLocationID=74', 'DOLocationID=75',
       'DOLocationID=76', 'DOLocationID=77', 'DOLocationID=78',
       'DOLocationID=79', 'DOLocationID=8', 'DOLocationID=80',
       'DOLocationID=81', 'DOLocationID=82', 'DOLocationID=83',
       'DOLocationID=84', 'DOLocationID=85', 'DOLocationID=86',
       'DOLocationID=87', 'DOLocationID=88', 'DOLocationID=89',
       'DOLocationID=9', 'DOLocationID=90', 'DOLocationID=91',
       'DOLocationID=92', 'DOLocationID=93', 'DOLocationID=94',
       'DOLocationID=95', 'DOLocationID=96', 'DOLocationID=97',
       'DOLocationID=98', 'DOLocationID=99', 'PULocationID=1',
       'PULocationID=10', 'PULocationID=100', 'PULocationID=101',
       'PULocationID=102', 'PULocationID=106', 'PULocationID=107',
       'PULocationID=108', 'PULocationID=109', 'PULocationID=11',
       'PULocationID=111', 'PULocationID=112', 'PULocationID=113',
       'PULocationID=114', 'PULocationID=115', 'PULocationID=116',
       'PULocationID=117', 'PULocationID=118', 'PULocationID=119',
       'PULocationID=12', 'PULocationID=120', 'PULocationID=121',
       'PULocationID=122', 'PULocationID=123', 'PULocationID=124',
       'PULocationID=125', 'PULocationID=126', 'PULocationID=127',
       'PULocationID=128', 'PULocationID=129', 'PULocationID=13',
       'PULocationID=130', 'PULocationID=131', 'PULocationID=132',
       'PULocationID=133', 'PULocationID=134', 'PULocationID=135',
       'PULocationID=136', 'PULocationID=137', 'PULocationID=138',
       'PULocationID=139', 'PULocationID=14', 'PULocationID=140',
       'PULocationID=141', 'PULocationID=142', 'PULocationID=143',
       'PULocationID=144', 'PULocationID=145', 'PULocationID=146',
       'PULocationID=147', 'PULocationID=148', 'PULocationID=149',
       'PULocationID=15', 'PULocationID=150', 'PULocationID=151',
       'PULocationID=152', 'PULocationID=153', 'PULocationID=154',
       'PULocationID=155', 'PULocationID=156', 'PULocationID=157',
       'PULocationID=158', 'PULocationID=159', 'PULocationID=16',
       'PULocationID=160', 'PULocationID=161', 'PULocationID=162',
       'PULocationID=163', 'PULocationID=164', 'PULocationID=165',
       'PULocationID=166', 'PULocationID=167', 'PULocationID=168',
       'PULocationID=169', 'PULocationID=17', 'PULocationID=170',
       'PULocationID=171', 'PULocationID=172', 'PULocationID=173',
       'PULocationID=174', 'PULocationID=175', 'PULocationID=177',
       'PULocationID=178', 'PULocationID=179', 'PULocationID=18',
       'PULocationID=180', 'PULocationID=181', 'PULocationID=182',
       'PULocationID=183', 'PULocationID=184', 'PULocationID=185',
       'PULocationID=186', 'PULocationID=187', 'PULocationID=188',
       'PULocationID=189', 'PULocationID=19', 'PULocationID=190',
       'PULocationID=191', 'PULocationID=192', 'PULocationID=193',
       'PULocationID=194', 'PULocationID=195', 'PULocationID=196',
       'PULocationID=197', 'PULocationID=198', 'PULocationID=199',
       'PULocationID=2', 'PULocationID=20', 'PULocationID=200',
       'PULocationID=201', 'PULocationID=202', 'PULocationID=203',
       'PULocationID=205', 'PULocationID=206', 'PULocationID=207',
       'PULocationID=208', 'PULocationID=209', 'PULocationID=21',
       'PULocationID=210', 'PULocationID=211', 'PULocationID=212',
       'PULocationID=213', 'PULocationID=214', 'PULocationID=215',
       'PULocationID=216', 'PULocationID=217', 'PULocationID=218',
       'PULocationID=219', 'PULocationID=22', 'PULocationID=220',
       'PULocationID=221', 'PULocationID=222', 'PULocationID=223',
       'PULocationID=224', 'PULocationID=225', 'PULocationID=226',
       'PULocationID=227', 'PULocationID=228', 'PULocationID=229',
       'PULocationID=23', 'PULocationID=230', 'PULocationID=231',
       'PULocationID=232', 'PULocationID=233', 'PULocationID=234',
       'PULocationID=235', 'PULocationID=236', 'PULocationID=237',
       'PULocationID=238', 'PULocationID=239', 'PULocationID=24',
       'PULocationID=240', 'PULocationID=241', 'PULocationID=242',
       'PULocationID=243', 'PULocationID=244', 'PULocationID=245',
       'PULocationID=246', 'PULocationID=247', 'PULocationID=248',
       'PULocationID=249', 'PULocationID=25', 'PULocationID=250',
       'PULocationID=251', 'PULocationID=252', 'PULocationID=253',
       'PULocationID=254', 'PULocationID=255', 'PULocationID=256',
       'PULocationID=257', 'PULocationID=258', 'PULocationID=259',
       'PULocationID=26', 'PULocationID=260', 'PULocationID=261',
       'PULocationID=262', 'PULocationID=263', 'PULocationID=264',
       'PULocationID=265', 'PULocationID=28', 'PULocationID=29',
       'PULocationID=3', 'PULocationID=30', 'PULocationID=31',
       'PULocationID=32', 'PULocationID=33', 'PULocationID=34',
       'PULocationID=35', 'PULocationID=36', 'PULocationID=37',
       'PULocationID=38', 'PULocationID=39', 'PULocationID=4',
       'PULocationID=40', 'PULocationID=41', 'PULocationID=42',
       'PULocationID=43', 'PULocationID=44', 'PULocationID=45',
       'PULocationID=46', 'PULocationID=47', 'PULocationID=48',
       'PULocationID=49', 'PULocationID=5', 'PULocationID=50',
       'PULocationID=51', 'PULocationID=52', 'PULocationID=53',
       'PULocationID=54', 'PULocationID=55', 'PULocationID=56',
       'PULocationID=57', 'PULocationID=58', 'PULocationID=6',
       'PULocationID=60', 'PULocationID=61', 'PULocationID=62',
       'PULocationID=63', 'PULocationID=64', 'PULocationID=65',
       'PULocationID=66', 'PULocationID=67', 'PULocationID=68',
       'PULocationID=69', 'PULocationID=7', 'PULocationID=70',
       'PULocationID=71', 'PULocationID=72', 'PULocationID=73',
       'PULocationID=74', 'PULocationID=75', 'PULocationID=76',
       'PULocationID=77', 'PULocationID=78', 'PULocationID=79',
       'PULocationID=8', 'PULocationID=80', 'PULocationID=81',
       'PULocationID=82', 'PULocationID=83', 'PULocationID=85',
       'PULocationID=86', 'PULocationID=87', 'PULocationID=88',
       'PULocationID=89', 'PULocationID=9', 'PULocationID=90',
       'PULocationID=91', 'PULocationID=92', 'PULocationID=93',
       'PULocationID=94', 'PULocationID=95', 'PULocationID=96',
       'PULocationID=97', 'PULocationID=98', 'trip_distance'],
      dtype=object)

In [22]:
dv.get_feature_names_out().shape

(516,)

In [23]:
target = 'duration'
y_train = df_1_60[target].values

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import root_mean_squared_error
from sklearn.feature_extraction import DictVectorizer

In [25]:
model = LinearRegression()

In [26]:
model.fit(X_train, y_train)

LinearRegression()

In [4]:
import pickle

In [ ]:

with open('./models/lr.bin', 'wb') as f_out:
    pickle.dump((dv, model), f_out)

In [29]:
model = pickle.load(open('./models/lr.bin', 'rb'))

In [5]:

dv, model = pickle.load(open('./models/lr.bin', 'rb'))

In [34]:
y_pred = model.predict(X_train)

In [35]:
y_pred

array([11.47419655, 10.94682493, 11.36738586, ..., 11.6683345 ,
       12.70006847, 11.60926734], shape=(3009173,))

In [36]:
rmse = root_mean_squared_error(y_train, y_pred)
rmse

7.658396898909143

In [6]:
df = pd.read_parquet('./data/yellow_tripdata_2023-02.parquet')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-02-01 00:32:53,2023-02-01 00:34:34,2.0,0.30,1.0,N,142,163,2,4.4,3.50,0.5,0.0,0.0,1.0,9.40,2.5,0.00
1,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,-3.0,-1.00,-0.5,0.0,0.0,-1.0,-5.50,0.0,0.00
2,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,3.0,1.00,0.5,0.0,0.0,1.0,5.50,0.0,0.00
3,1,2023-02-01 00:29:33,2023-02-01 01:01:38,0.0,18.80,1.0,N,132,26,1,70.9,2.25,0.5,0.0,0.0,1.0,74.65,0.0,1.25
4,2,2023-02-01 00:12:28,2023-02-01 00:25:46,1.0,3.22,1.0,N,161,145,1,17.0,1.00,0.5,3.3,0.0,1.0,25.30,2.5,0.00

In [7]:
def prepare(df):
    df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
    df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
    df['duration'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime'])
    df['duration'] = df['duration'].dt.total_seconds() / 60
    df = df[(df.duration >= 1) & (df.duration <= 60)]
    
    categorical = ['PULocationID', 'DOLocationID']
    # numerical = ['trip_distance']
    
    df[categorical] = df[categorical].astype(str)
    return df

In [8]:
df = prepare(df)

/tmp/ipykernel_36764/931028533.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[categorical] = df[categorical].astype(str)

In [21]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,duration
0,1,2023-02-01 00:32:53,2023-02-01 00:34:34,2.0,0.30,1.0,N,142,163,2,4.40,3.50,0.5,0.00,0.0,1.0,9.40,2.5,0.00,1.683333
3,1,2023-02-01 00:29:33,2023-02-01 01:01:38,0.0,18.80,1.0,N,132,26,1,70.90,2.25,0.5,0.00,0.0,1.0,74.65,0.0,1.25,32.083333
4,2,2023-02-01 00:12:28,2023-02-01 00:25:46,1.0,3.22,1.0,N,161,145,1,17.00,1.00,0.5,3.30,0.0,1.0,25.30,2.5,0.00,13.300000
5,1,2023-02-01 00:52:40,2023-02-01 01:07:18,1.0,5.10,1.0,N,148,236,1,21.90,3.50,0.5,5.35,0.0,1.0,32.25,2.5,0.00,14.633333
6,1,2023-02-01 00:12:39,2023-02-01 00:40:36,1.0,8.90,1.0,N,137,244,1,41.50,3.50,0.5,3.50,0.0,1.0,50.00,2.5,0.00,27.950000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2913950,2,2023-02-28 23:46:00,2023-03-01 00:05:00,NaN,4.65,NaN,None,249,140,0,20.22,0.00,0.5,4.84,0.0,1.0,29.06,NaN,NaN,19.000000
2913951,2,2023-02-28 23:26:02,2023-02-28 23:37:10,NaN,2.47,NaN,None,186,79,0,13.66,0.00,0.5,2.65,0.0,1.0,20.31,NaN,NaN,11.133333
2913952,2,2023-02-28 23:24:00,2023-02-28 23:38:00,NaN,3.49,NaN,None,158,143,0,17.64,0.00,0.5,0.00,0.0,1.0,21.64,NaN,NaN,14.000000
2913953,2,2023-02-28 23:03:00,2023-02-28 23:10:00,NaN,2.13,NaN,None,79,162,0,13.56,0.00,0.5,2.63,0.0,1.0,20.19,NaN,NaN,7.000000
2913954,2,2023-02-28 23:03:03,2023-02-28 23:12:51,NaN,2.28,NaN,None,161,140,0,14.89,0.00,0.5,3.78,0.0,1.0,22.67,NaN,NaN,9.800000

In [11]:
categorical = ['PULocationID', 'DOLocationID']
X_val_dicts = df[categorical].to_dict(orient='records')

In [12]:
X_val = dv.transform(X_val_dicts)
y_val = df['duration'].values
y_pred = model.predict(X_val)
rmse = root_mean_squared_error(y_val, y_pred)
rmse

7.820496959905137